BasedOnStyle : LLVM
IndentWidth : 2
ContinuationIndentWidth : 2

BreakBeforeBraces : Linux
UseTab: Never
AllowShortIfStatementsOnASingleLine : false
AllowShortFunctionsOnASingleLine : false
AllowShortBlocksOnASingleLine : false
ConstructorInitializerAllOnOneLineOrOnePerLine : true
AllowShortLoopsOnASingleLine : false
BinPackParameters : false
AllowAllParametersOfDeclarationOnNextLine : false
AlignTrailingComments : true
ColumnLimit : 80
PenaltyBreakBeforeFirstCallParameter : 65000
PenaltyReturnTypeOnItsOwnLine : 65000
PenaltyBreakString : 10
AccessModifierOffset : -2

Standard : Cpp11

# These improve formatting results but require clang 3.6/7 or higher
BreakBeforeBinaryOperators : NonAssignment
AlignAfterOpenBracket: true
AlwaysBreakAfterDefinitionReturnType : false

BinPackArguments : false
AlignOperands : true
AlwaysBreakTemplateDeclarations : true
Cpp11BracedListStyle : true

# Clang 3.8+
AlignAfterOpenBracket: AlwaysBreak
